@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  scroll-behavior: smooth;
}

html, 
body {
  margin: 0;
  padding: 0;
}

.line {
  background-color: #945C2F;
  height: 2px;
  width: 100%;
}